PriceCheckerSoapClient_c#/PriceCheckerSoapClient/Web References/mstItemFinder/ItemFinder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://sql.java/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax23="http://mst/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://mst" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://mst" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sql.java/xsd">
      <xs:complexType name="SQLException">
        <xs:sequence>
          <xs:element minOccurs="0" name="SQLState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="nextException" nillable="true" type="ax21:SQLException" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://sql.java/xsd" xmlns:ax24="http://mst/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mst">
      <xs:import namespace="http://sql.java/xsd" />
      <xs:import namespace="http://mst/xsd" />
      <xs:element name="main">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="args" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemFinderSQLException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SQLException" nillable="true" type="ax22:SQLException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findItemsByBarcode">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findItemsByBarcodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax24:ItemData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mst/xsd">
      <xs:complexType name="ItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="itemImage" nillable="true" type="ax23:ImageData" />
          <xs:element minOccurs="0" name="itemMeasure" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="itemPrice" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ImageData">
        <xs:sequence>
          <xs:element minOccurs="0" name="imageLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imageStringData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="mainRequest">
    <wsdl:part name="parameters" element="ns:main" />
  </wsdl:message>
  <wsdl:message name="findItemsByBarcodeRequest">
    <wsdl:part name="parameters" element="ns:findItemsByBarcode" />
  </wsdl:message>
  <wsdl:message name="findItemsByBarcodeResponse">
    <wsdl:part name="parameters" element="ns:findItemsByBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="ItemFinderSQLException">
    <wsdl:part name="parameters" element="ns:ItemFinderSQLException" />
  </wsdl:message>
  <wsdl:portType name="ItemFinderPortType">
    <wsdl:operation name="main">
      <wsdl:input wsaw:Action="urn:main" message="ns:mainRequest" />
    </wsdl:operation>
    <wsdl:operation name="findItemsByBarcode">
      <wsdl:input wsaw:Action="urn:findItemsByBarcode" message="ns:findItemsByBarcodeRequest" />
      <wsdl:output wsaw:Action="urn:findItemsByBarcodeResponse" message="ns:findItemsByBarcodeResponse" />
      <wsdl:fault wsaw:Action="urn:findItemsByBarcodeItemFinderSQLException" name="ItemFinderSQLException" message="ns:ItemFinderSQLException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemFinderSoap11Binding" type="ns:ItemFinderPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="main">
      <soap:operation soapAction="urn:main" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="findItemsByBarcode">
      <soap:operation soapAction="urn:findItemsByBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFinderSQLException">
        <soap:fault use="literal" name="ItemFinderSQLException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemFinderSoap12Binding" type="ns:ItemFinderPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="main">
      <soap12:operation soapAction="urn:main" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="findItemsByBarcode">
      <soap12:operation soapAction="urn:findItemsByBarcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFinderSQLException">
        <soap12:fault use="literal" name="ItemFinderSQLException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemFinderHttpBinding" type="ns:ItemFinderPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="main">
      <http:operation location="main" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="findItemsByBarcode">
      <http:operation location="findItemsByBarcode" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemFinder">
    <wsdl:port name="ItemFinderHttpSoap11Endpoint" binding="ns:ItemFinderSoap11Binding">
      <soap:address location="http://localhost:8080/MicroinvestPriceChecker/services/ItemFinder.ItemFinderHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ItemFinderHttpSoap12Endpoint" binding="ns:ItemFinderSoap12Binding">
      <soap12:address location="http://localhost:8080/MicroinvestPriceChecker/services/ItemFinder.ItemFinderHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ItemFinderHttpEndpoint" binding="ns:ItemFinderHttpBinding">
      <http:address location="http://localhost:8080/MicroinvestPriceChecker/services/ItemFinder.ItemFinderHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>